<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laibao.mybatis3.simple.mapper.CountryMapper">

	<resultMap id="countryResultMap" type="com.laibao.mybatis3.simple.model.Country">
		<id property="id" column="id"/>
		<result property="countryName" column="country_name"/>
		<result property="countryCode" column="country_code"/>
		<result property="createdTime" column="created_time"/>
		<result property="updatedTime" column="updated_time"/>
	</resultMap>

	<select id="selectAll" resultMap="countryResultMap">
		select id,country_name,country_code from country
	</select>

	<!--<select id="selectById" resultType="com.laibao.mybatis3.simple.model.Country">-->
	    <!-- it is wrong in this way !!!! -->
		<!--select id,country_name,country_code-->
		<!--from country-->
		<!--where id = #{id}-->
	<!--</select>-->

	<select id="selectById" resultMap="countryResultMap">
		select id,country_name,country_code
		from country
		where id = #{id}
	</select>


</mapper>